body {
    font-family: 'Montserrat';
    font-weight: 400;
    color: #fff;
    background-color: #333;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 35px;
    line-height: 130%;
    margin-bottom: 50px;
    border-left: 5px solid #fff;
    padding-left: 30px;
}
.subtitle {
    font-size: 27px;
    line-height: 130%;
    margin-bottom: 40px;
    border-left: 2px solid #fff;
    padding-left: 15px;
}
.list__item {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 12px;
}
.list__link {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}
.text {
    font-size: 18px;
    line-height: 130%;
}